#title-box
{
    margin: 30px;
    /* border: solid; */
    width: 500px;
    font-size: 40px;
    font-weight: bold;
}

.hr
{
    border: none; 
    border-top: solid #8beeff;
}

/* #content-box
{
    border: solid;
} */

.add-and-search-box
{
    /* border: solid; */
    text-align: left;
}

.search-bar
{
    /* border: solid; */
    border-radius: 15px;
    width: 45%;
    display: inline-block;
    zoom: 200%;
    /* z-index: 10000; */
    font-family: 'Microsoft YaHei';
}

.refresh-box
{
    /* border: solid; */
    display: inline-block;
    position: relative;
    width: 10%;
    top: 25px;
    text-align: center;
}

#refresh-icon
{
    /* 实现旋转效果 */
    cursor: pointer;
    transition: transform 1.0s;
}

#refresh-icon:hover
{
    transform: rotate(360deg);
}

.search-input
{
    border-radius: 15px;
}

.add-button-box
{
    /* border: solid; */
    width: 30%; 
    margin-top: 40px; 
    margin-bottom: 40px;
    text-align: center;
    display: inline-block;
}

.add-button {
    font-size: 30px;
    height: 80px;
    width: 70%;
    margin: auto auto;
    line-height: 80px;
    border-radius: 15px;
    border: none;
    background-color: #8beeff;
}


.item-box
{
    /* border: solid; */
    border-radius: 15px;
    margin: 15px;
    height: 140px;
    line-height: 100px;
    font-size: 30px;
    background-color: rgba(252, 242, 241, 0.4);
    box-shadow: 5px 15px 15px 5px #888888;

    transition: all .3s;
}

.item-id
{
    /* border: solid; */
    float: left;
    width: 10%;
    height: 100%;
    line-height: 130px;
    font-size: 40px;

    transition: all .3s;
}

.item-box:hover
{
    background-color: rgba(139, 238, 255, 0.4);
}

.item-box:hover li
{
    transform: scale(1.02);
}

.item-box li
{
    transition: all .3s;
}

.item-detail
{
    /* border: solid red; */
    float: right;
    width: 87%;
    height: 100%;
    line-height: 130px;
}

.item-detail-username
{
    /* border: solid blue; */
    display: inline;
    float: left;
    height: 100%;
    font-size: 40px;
}

.item-detail-operation
{
    /* border: solid black; */
    border-radius: 15px;
    display: inline;
    float: right;
    height: 100%;
    margin: 10px;
}

.item-detail-operation-button {
    font-size: 30px;
    margin: 10px;
    border: none;
    border-radius: 15px;
    height: 60px;
    width: 150px;
}
.item-detail-status
{
    margin: 10px;
    /* border: solid yellow; */
    display: inline;
    float: right;
    height: 100%;
}