#title-box
{
    margin: 30px;
    /* border: solid; */
    width: 500px;
    font-size: 40px;
    font-weight: bold;
}

.hr
{
    border: none; 
    border-top: solid #eb1d2a;
}

/* #content-box
{
    border: solid;
} */

.refuse-and-search-box
{
    /* border: solid; */
    text-align: left;
}

.search-bar
{
    /* border: solid; */
    border-radius: 15px;
    width: 45%;
    display: inline-block;
    zoom: 200%;
    /* z-index: 10000; */
    font-family: 'Microsoft YaHei';
}

.refresh-box
{
    /* border: solid; */
    display: inline-block;
    position: relative;
    width: 10%;
    top: 25px;
    text-align: center;
}

#refresh-icon
{
    /* 实现旋转效果 */
    cursor: pointer;
    transition: transform 1.0s;

    filter: invert(100%);
}

#refresh-icon:hover
{
    transform: rotate(360deg);
}

.search-input
{
    border-radius: 15px;
}

.refuse-button-box
{
    /* border: solid; */
    width: 30%; 
    margin-top: 40px; 
    margin-bottom: 40px;
    text-align: center;
    display: inline-block;
}

.refuse-button {
    font-size: 30px;
    height: 80px;
    width: 70%;
    margin: auto auto;
    line-height: 80px;
    border-radius: 15px;
    border: none;
    background-color: #f64530;
}


.item-box
{
    /* border: solid; */
    border-radius: 15px;
    margin: 15px;
    height: 140px;
    line-height: 100px;
    font-size: 30px;
    background-color: rgba(81, 81, 81, 0.8);
    box-shadow: 0px 0px 15px 5px rgba(94, 94, 94, 0.7);

    cursor: pointer;

    transition: all .3s;
}

.item-box:hover
{
    background-color: rgba(233, 29, 42, 0.6);
    box-shadow: 0px 0px 15px 5px rgba(233, 29, 42, 0.6);
}

.item-box:hover
{
    transform: scale(1.02);
}

/* .item-box li
{
    transition: all .3s;
} */

.item-id
{
    /* border: solid; */
    float: left;
    width: 10%;
    height: 100%;
    line-height: 130px;
    font-size: 40px;
}

.item-detail
{
    /* border: solid red; */
    float: right;
    width: 87%;
    height: 100%;
    line-height: 130px;
}

.item-detail-username
{
    /* border: solid blue; */
    display: inline;
    float: left;
    height: 100%;
    font-size: 40px;
}

.item-detail-operation
{
    /* border: solid black; */
    border-radius: 15px;
    display: inline;
    float: right;
    height: 100%;
    margin: 10px;
}

.item-detail-operation-button {
    font-size: 30px;
    margin: 10px;
    border: none;
    border-radius: 15px;
    height: 60px;
    width: 150px;
}
.item-detail-status
{
    margin: 10px;
    /* border: solid yellow; */
    display: inline;
    float: right;
    height: 100%;
}