input:focus
{
    outline: none !important;
}

textarea:focus
{
    outline: none !important;
}

select:focus
{
    outline: none !important;
}

a {
    color: #fff;
    text-decoration: none;

    /* transition: all .15s; */
}

/* 未访问的链接 */
a:link {
    color: #fff;
    text-decoration: none;
}

/* 已访问的链接 */
a:visited {
    color: #fff;
}

/* 鼠标移动到链接上 */
a:hover {
    cursor: pointer;
    color: #eb1d2a;
}

.el-notification.right {
    width: 300px;
    padding-top: 20px;
    padding-left: 0px;
    padding-right: 20px;
    padding-bottom: 20px;

    text-align: left;

    font-family: 'Microsoft YaHei';
}

.el-pager li
{
    background: none !important;
}

.el-pagination .btn-next, .el-pagination .btn-prev
{
    background: none !important;
}

.el-pagination button:disabled
{
    background: none !important;
}

button
{
    cursor: pointer;
    transition: all .3s;

    color: #fff;
}

button:hover
{
    background: rgba(0, 0, 0, 10%) !important
}

.avatar-uploader .el-upload {
    /* border: 2px dashed #d9d9d9; */
    border-radius: 15px;
    cursor: pointer;
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 150px;
    line-height: 320px;
}

.avatar-uploader .el-upload:hover {
    border-color: #eb1d2a;
}

.avatar-uploader-icon {
    font-size: 100px;
    color: #fff;
}

.avatar {
    width: 300px;
    height: 300px;
    border-radius: 150px;
    object-fit: cover;
}

/* input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    appearance: none;
} */