.main-page 
{
    /* border: solid; */
    /* height属性设置auto */
    /* height: 2000px; */
    padding-top: 0;
    margin-bottom: 40px;
    font-family: 'Microsoft YaHei';
    font-size: xx-large;
    /* overflow: hidden; */

    margin-left: auto;
    margin-right: auto;
}

.sub-page {
    /* border: solid blue; */
    /* 居中 */
    margin: auto auto;
    margin-top: 15px;
    margin-bottom: 20px;
    padding: 50px 50px;
    /* height属性设置auto，高度依据内部的组件而定 */
    height: auto;
    min-height: 1600px;

    /* 两边留白 */
    width: 80%;

    background-color: rgba(252, 242, 241, 0.7);
    border-radius: 15px;
    animation: shadow 3s ease;
    animation-iteration-count: infinite;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);  /* css滤镜 */

    box-shadow: 5px 15px 15px 5px rgba(252, 242, 241, 0.7);
}

.sub-nav-box
{
    display: block;
    /* border: solid blue; */
    float: left;
}


.nav-location-box {
    /* border: solid red; */
    position: absolute;
    width: 700px;
    height: 100px;
    left: 1cm;
}

.nav-location 
{
    position: absolute;
    bottom: 0px;
    left: 0%;
    /* transform: translate(-50%, -50%); */
    font-size: 40px;
    font-family: 'Microsoft YaHei';
    color: #7b8da0;
    z-index: -100;
}

.nav-box {
    /* border: solid red; */
    border-radius: 15px;
    height: 100px;
    /* padding-top: 30px; */
    width: 1000px;
    /* 设置对齐 */
    margin: 0 auto;
    background-color: #8beeff;
    overflow: hidden;

    animation: shadow 3s ease;
    animation-iteration-count: infinite;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);  /* css滤镜 */

    box-shadow: 5px 15px 15px 5px rgba(139, 238, 255, 0.7);
}

.tab {
    /* border-radius: 15px; */
    display: inline-block;
    height: 110px;
    line-height: 98px;
    width: 200px; 
    /* border: solid; */
    /* float: left; */
}

.tab:hover {
    background-color: #53c1ff;
}

/* .page:focus {
    background-color: #53c1ff;
} */