.content
{
    /* border: solid red; */
    width: 70%;
    margin: auto auto;
    margin-top: 40px;

    /* font-size: 40px; */
    font-family: 'Microsoft YaHei';
    text-align: left;
    /* line-height: 80px; */
}

.markdown-body
{
    color: #fff;
    font-size: 30px;
    /* background-color: rgba(252, 242, 241, 0); */
    background-color: rgba(53, 53, 53, 0);
}

/* #detail-box
{
    border: solid blue;
} */

#comment-box
{
    border: none; 
    border-top: solid #eb1d2a;

    width: 70%;
    margin: auto auto;
    margin-top: 100px;
}

.comment-box-title
{
    /* border: solid; */
    text-align: left;
    line-height: 20px;
}

/* .make-comment
{
    border: solid;
} */

.comment-textarea
{
    font-size: 30px;
    border-radius: 15px;
    border: solid #eb1d2a;
    font-family: 'Microsoft YaHei';
    margin: 15px;
    width: 97%;
}

.comment-button-box
{
    /* border: solid; */
    text-align: left;
    font-size: 30px;
}

.comment-button
{
    margin: 15px;
    font-size: inherit;
    display: inline;
    height: 70px;
    line-height: 40px;
    width: 200px;
    border-radius: 15px;
    border: none;
    overflow: hidden;
}

.comment-noname
{
    margin: 15px;
    display: inline;
}

.comment-button-noname
{
    font-size: 30px;
    border-radius: 15px;
    border: solid #eb1d2a;
    zoom: 200%;
}

.comment-item
{
    /* border: solid; */
    border-radius: 15px;
    margin: 30px 15px;
    /* height: 140px; */
    line-height: 100px;
    font-size: 30px;
    background-color: rgba(81, 81, 81, 0.8);
    box-shadow: 0px 0px 15px 10px rgba(94, 94, 94, 0.7);

    cursor: pointer;

    transition: all .3s;
}

.comment-item:hover
{
    background-color: rgba(233, 29, 42, 0.6);
    box-shadow: 0px 0px 15px 10px rgba(233, 29, 42, 0.6);
}

.comment-item:hover
{
    transform: scale(1.02);
}

.comment-item-detail
{
    transition: all .3s;
    font-size: 30px;
}

.comment-item-info
{
    /* border: solid red; */
    line-height: 75px;

    margin-left: 20px;
    margin-right: 20px;
}

.comment-item-info::after {
    content:"";
    /*清除浮动*/
    clear: both;
    /*确保该元素是一个块级元素*/
    display: block;
}

.comment-item-admin-mark
{
    /* border: solid; */

    font-weight: 900;
    font-size: 40px;
    display: inline;
    float: left;
}

.comment-item-name
{
    /* border: solid; */

    font-weight: 900;
    font-size: 40px;
    display: inline;
    float: left;
}

.comment-item-date
{
    /* border: solid; */

    font-size: 30px;
    display: inline;
    float: left;
    margin-left: 50px;
}

.comment-item-operation
{
    /* border: solid; */
    display: inline;
    float: right;
    width: 20%;
}

.delete-button
{
    font-size: 30px;
    width: 80%;
    margin: auto auto;
    line-height: 50px;
    border-radius: 15px;
    border: none;
    background-color: #eb1d2a;
}

.comment-item-content
{
    border: none; 
    border-top: solid #eb1d2a;
    
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify;
}