#title-box
{
    margin: 30px;
    /* border: solid; */
    width: 500px;
    font-size: 40px;
    font-weight: bold;
}

.hr
{
    border: none; 
    border-top: solid #8beeff;
}

#sub-content
{
    height: auto;
}

/* #content-box
{
    border: solid red;
} */

.search-box
{
    /* border: solid; */
    text-align: left;
}

.search-bar
{
    /* border: solid; */
    border-radius: 15px;
    width: 45%;
    display: inline-block;
    zoom: 200%;
    /* z-index: 10000; */
    font-family: 'Microsoft YaHei';
}

.refresh-box
{
    /* border: solid; */
    display: inline-block;
    position: relative;
    width: 10%;
    top: 25px;
    text-align: center;
}

#refresh-icon
{
    /* 实现旋转效果 */
    cursor: pointer;
    transition: transform 1.0s;
}

#refresh-icon:hover
{
    transform: rotate(360deg);
}

.search-input
{
    border-radius: 15px;
}

.add-button-box
{
    /* border: solid; */
    width: 30%; 
    /* margin-top: 40px;  */
    /* margin-bottom: 40px; */
    text-align: center;
    display: inline-block;
}

.add-button {
    font-size: 30px;
    height: 80px;
    width: 70%;
    margin: auto auto;
    line-height: 80px;
    border-radius: 15px;
    border: none;
    background-color: #8beeff;
}


.item-box
{
    /* border: solid; */
    border-radius: 15px;
    margin: 15px;
    height: 140px;
    line-height: 100px;
    font-size: 30px;
    background-color: rgba(252, 242, 241, 0.4);
    box-shadow: 5px 15px 15px 5px #888888;

    cursor: pointer;

    transition: all .3s;
}

/* .item-id
{
    border: solid;
    float: left;
    width: 10%;
    height: 100%;
    line-height: 130px;
    font-size: 40px;
} */

.item-box:hover
{
    background-color: rgba(139, 238, 255, 0.4);
}

.item-box:hover
{
    transform: scale(1.02);
}

.item-detail
{
    /* border: solid red; */
    /* float: center; */
    margin: auto auto;
    width: 95%;
    height: 100%;
    line-height: 130px;

    transition: all .3s;
}

.item-detail::after {
    content:"";
    /*清除浮动*/
    clear: both;
    /*确保该元素是一个块级元素*/
    display: block;
    }

.item-detail-title
{
    /* border: solid blue; */
    display: inline;
    float: left;
    height: 100%;
    max-width: 60%;

    font-size: 50px;
    font-weight: bold;
}

.item-detail-view
{
    /* border: solid blue; */
    display: inline;
    float: right;
    width: 15%;
    height: 20px;

    text-align: left;
    line-height: 200px;
    font-size: 35px;
}

.item-detail-author
{

    display: inline;
    float: right;
    width: 30%;
    height: 20px;

    text-align: left;
    line-height: 200px;
    font-size: 35px;
}

.item-detail-date
{
    /* border: solid blue; */
    display: inline;
    float: right;
    width: 20%;
    height: 20px;

    text-align: right;
    line-height: 200px;
    font-size: 35px;
}
