<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- SQL映射文件 -->


<!-- namespace: 名称空间-->
<!-- 设置SQL映射文件的 namespace 属性为Mapper接口的全限定名: com.mapper.UsersMapper-->
<mapper namespace="com.atlantis.mapper.CommentMapper">
    <!--    id: 该select语句的唯一标识
        result type: 返回结果的类型，属性为全限定名
-->

    <!--    结果映射：用于表中的列名和实体类中的成员属性名不一致的情况
            ResultMap：
                id: resultMap 唯一标识
                type: 返回的结果类型

                result: 一般字段的映射
                id: 主键字段的映射
                    column: 表的列名
                    property: 要映射到的实体类中的成员属性名

-->
    <resultMap id="commentResultMap" type="com.atlantis.pojo.Comment">
        <id column="index" property="index"></id>
        <result column="create_date" property="createDate"></result>
        <result column="pre_index" property="preIndex"></result>
        <result column="login_type" property="loginType"></result>
    </resultMap>

    <select id="getAll" resultMap="commentResultMap">
        select * from comment
    </select>

    <select id="getByIndex" resultMap="commentResultMap">
        select * from comment where `index` = #{index}
    </select>

<!--    集合-->
<!--    从新到旧的顺序-->
    <select id="getById" resultMap="commentResultMap">
        select * from comment where `id` = #{id} order by create_date desc
    </select>

<!--    集合-->
    <select id="getByName" resultMap="commentResultMap">
        select * from comment where `name` = #{name} and `login_type` = #{loginType}
                              order by create_date desc
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="index">
        insert into comment(`id`, `name`, `login_type`, `content`)
                    values(#{id}, #{name}, #{loginType}, #{content})
    </insert>

    <update id="update">
        update comment set `content` = #{content}
                           where `index` = #{index} and `name` = #{name}
    </update>

    <delete id="delete">
        delete from comment where `index` = #{index}
    </delete>

    <!--    ${}: 用于表名、列名
        #{}: 用于参数
-->
</mapper>