<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- SQL映射文件 -->


<!-- namespace: 名称空间-->
<!-- 设置SQL映射文件的 namespace 属性为Mapper接口的全限定名: com.mapper.UsersMapper-->
<mapper namespace="com.atlantis.mapper.MemberMapper">
    <!--    id: 该select语句的唯一标识
        result type: 返回结果的类型，属性为全限定名
-->

    <!--    结果映射：用于表中的列名和实体类中的成员属性名不一致的情况
            ResultMap：
                id: resultMap 唯一标识
                type: 返回的结果类型

                result: 一般字段的映射
                id: 主键字段的映射
                    column: 表的列名
                    property: 要映射到的实体类中的成员属性名

-->

    <!--    ${}: 用于表名、列名
    #{}: 用于参数
-->
    <resultMap id="memberResultMap" type="com.atlantis.pojo.Member">
        <result property="joinDate" column="join_date"></result>
    </resultMap>

    <select id="getById" resultMap="memberResultMap">
        select * from member where id = #{id}
    </select>

<!--    按照自定义顺序进行排序-->
    <select id="getAll" resultMap="memberResultMap">
        select * from member order by FIELD(`position`, '队长', '群主', '管理', '成员', '测试')
    </select>

    <select id="getByName" resultMap="memberResultMap">
        select * from member where realname = #{realname}
    </select>

<!--    模糊查询-->
    <select id="fuzzyQuery" resultMap="memberResultMap">
        select * from member where realname like concat('%', #{name}, '%')
                                or position like concat('%', #{name}, '%')
    </select>

<!--    返回主键-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into member(realname, position)
            values(#{realname}, #{position})
    </insert>

    <!--    TODO @Dynamic SQL is needed-->
    <update id="update">
        update member set realname = #{realname},
                        description = #{description},
                        status = #{status},
                        position = #{position} where id = #{id}
    </update>


    <delete id="delete">
        delete from member where id = #{id}
    </delete>

<!--    TODO @Dynamic SQL is needed-->

</mapper>